<html>
  <head>
    <%- include('./base/headTag') %>
  </head>

  <body>
    <%- include('./base/header') %>
    <h1>search 입니다</h1>
    <h1><%= searchBy %>의 검색결과</h1>
  </body>
  <%- include('./base/footer') %>
</html>
